<body (mouseup)="showDialog($event)">
  <div>
    <h1 id="title">{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <h3> Extrait p.{{book.page}}</h3>

    <div id="extract">
      <label (mouseover)='highLight($event)' (click)="showComment($event)" id="comment">{{book.extract}}</label>
    </div>
  </div>

  <div id="printComment"  [hidden]="!printComment">
    <mat-card>
      <mat-card-title>Posté par <span class="aut">{{commentToPrint.author}} </span> le <span class="date">{{date}}</span></mat-card-title>
      <mat-card-content id="parent">
        <label id="children">{{commentToPrint.text}}</label><br>
      </mat-card-content>

      <button id="upVote" (click)="upVote(commentToPrint)" mat-icon-button [color]="hasUpVoted?'primary':'warn'">
        <i class="material-icons">thumb_up</i>{{commentToPrint.upVote}}
      </button>

      <button (click)="modify(commentToPrint)" mat-mini-fab color="warn">
        <i class="material-icons">edit</i>
      </button>

      <button (click)="closeDialog()" mat-mini-fab color="warn">
        <i class="material-icons">close</i>
      </button>

      <button (click)="delete(commentToPrint)" mat-mini-fab color="warn">
        <i class="material-icons">delete</i>
      </button>
    </mat-card>
  </div>
</body>
