<body (mouseup)="showDialog($event)">
  <div>
    <h1 id="title">{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <h3> Extrait p.{{book.page}}</h3>

    <div id="extract">
      <label (mouseover)='showComment($event)' id="comment">{{book.extract}}</label>
    </div>
  </div>

  <div id="printComment"  [hidden]="!printComment">
    <mat-card>
      <mat-card-title>Posté par {{commentToPrint.author}} le {{commentToPrint.date}}</mat-card-title>
      <mat-card-content>
        <textarea readonly [value]="commentToPrint.text"></textarea><br>
      </mat-card-content>

      <button (click)="modify(commentToPrint)" mat-mini-fab color="warn">
        <i class="material-icons">edit</i>
      </button>

      <button (click)="closeDialog()" mat-mini-fab color="warn">
        <i class="material-icons">close</i>
      </button>

      <button (click)="delete(commentToPrint)" mat-mini-fab color="warn">
        <i class="material-icons">delete</i>
      </button>
    </mat-card>
  </div>
</body>
