<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group (click)="navigate(book.id)">
    <img mat-card-md-image src="{{ book?.photo }}">
    <mat-card-title>
      <a href="javascript:void(0);">
        <span>{{ book?.title }}</span>
      </a>
    </mat-card-title>

    <mat-card-subtitle class="contact-info">
      <br><label class="response" >{{ book?.author }}</label>
    </mat-card-subtitle>

  </mat-card-title-group>
  <mat-card-content>
    <div class="contact-info">
      Genre&nbsp;:&nbsp; <label class="response">{{ book?.category }}</label>
    </div>
    <div class="contact-info">
      Date de sortie&nbsp;:&nbsp; <label class="response">{{ dateToPrint }}</label>
    </div>
    <div class="buttons-info">
      <a mat-button title="Nouvel Extrait" color="primary">
        <i class="material-icons">add</i>
      </a>
      <a mat-button title="Editer" (click)="modify()" color="primary">
        <i class="material-icons">edit</i>
      </a>
      <a mat-button title="Supprimer" (click)="delete(book.id)" color="primary">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </mat-card-content>
</mat-card>
