<h2 mat-dialog-title>Ajouter un livre</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput name="title" placeholder="Titre" [formControlName]="'title'">
      <div *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('required')">
        <mat-error>Veuillez préciser le <strong>titre</strong></mat-error>
      </div>
      <div *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('minlength')">
        <mat-error>Le titre est trop court</mat-error>
      </div>
      <div *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('maxlength')">
        <mat-error>Le titre est trop long</mat-error>
      </div>
      <div *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('titleAlreadyExists')">
        <mat-error>Ce titre existe déjà</mat-error>
      </div>
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput name="author" placeholder="Auteur" [formControlName]="'author'">
      <div *ngIf="form.get('author')?.dirty && form.get('author')?.hasError('required')">
        <mat-error>Veuillez préciser l' <strong>auteur</strong></mat-error>
      </div>
      <div *ngIf="form.get('author')?.dirty && form.get('author')?.hasError('minlength')">
        <mat-error>L'auteur doit faire au moins <strong>2</strong> caractères</mat-error>
      </div>
      <div *ngIf="form.get('author')?.dirty && form.get('author')?.hasError('maxlength')">
        <mat-error>Le nom d'auteur est trop long</mat-error>
      </div>
    </mat-form-field>


    <mat-form-field class="full-width">
    <input matInput name="category" placeholder="Catégorie" [formControlName]="'category'">
      <div *ngIf="form.get('category')?.dirty && form.get('category')?.hasError('required')">
        <mat-error>Veuillez préciser la <strong>catégorie</strong></mat-error>
      </div>
      <div *ngIf="form.get('category')?.dirty && form.get('category')?.hasError('minlength')">
        <mat-error>La catégorie doit faire au moins <strong>2</strong> caractères</mat-error>
      </div>
      <div *ngIf="form.get('category')?.dirty && form.get('category')?.hasError('maxlength')">
        <mat-error>La catégorie est trop longue</mat-error>
      </div>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Date de sortie</mat-label>
      <input matInput [formControlName]="'date'" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="full-width">
     <input matInput type="text" name="photo" placeholder="Lien de l'image" [formControlName]="'photo'">
      <div *ngIf="form.get('photo')?.dirty && form.get('photo')?.hasError('pattern')">
        <mat-error>Merci de donner un lien vers une <strong>image</strong></mat-error>
      </div>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="number" name="page" placeholder="Page" [formControlName]="'page'">
      <div *ngIf="form.get('page')?.dirty && form.get('page')?.hasError('required')">
        <mat-error>Veuillez indiquer la <strong>page</strong> de l'extrait concerné</mat-error>
      </div>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput name="extract" placeholder="extract" [formControlName]="'extract'"></textarea>
      <div *ngIf="form.get('extract')?.dirty && form.get('extract')?.hasError('required')">
        <mat-error>Merci de donner un <strong>extrait</strong> du livre</mat-error>
      </div>
      <div *ngIf="form.get('extract')?.dirty && form.get('extract')?.hasError('minlength')">
        <mat-error>Merci de donner un extrait d'au moins <strong>50</strong> caractères</mat-error>
      </div>
      <div *ngIf="form.get('extract')?.dirty && form.get('extract')?.hasError('maxlength')">
        <mat-error>L'extrait est trop grand</mat-error>
      </div>
    </mat-form-field>


  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Annuler</button>
  <button mat-button color="primary" type="submit" (click)="save(form.value)" [disabled]="form.invalid">Ajouter</button>
</mat-dialog-actions>
