
<h1>Tad'Analyse</h1>

<h2>Bienvenue sur Tad'Analyse, le site qui permet d'analyser des extraits de livres</h2>

<p>Commencez dès maintenant, rendez-vous dans la bibliothèque, choisissez un extrait ou ajoutez-en un. Vous pouvez ensuite ajouter un
commentaire en sélectionnant le texte souhaité et voir les commentaires de la communauté en passant la souris sur les passages surlignés.
Grâce à l'aide des passionnés de lecture, vous avez désormais le moyen d'analyser et de comprendre les textes des plus grands auteurs.</p>

<div class="linkBiblio">
<button mat-raised-button color="primary" [routerLink]="['/books']">Aller vers la bibliothèque</button>
</div>
